[run]
omit =
    sensehel_logs/asgi.py
    sensehel_logs/wsgi.py
    sensehel_logs/settings.py
    */migrations/*
    # Measure coverage of application code, not the tests themselves:
    */*tests.py
    */tests/*
    manage.py
